*,
htmml{margin: 0;
padding: 0;
}

.container-navbar{
background-color: #dbdbdb;
width: 100%;
height: 10vh;
}

.ul-navbar{
justify-content: center;
display: flex;
align-items: center;
height: 100px;
}

.li-navbar{
list-style-type: none;
padding: 20px;
margin: 5px;
color: rgb(0, 0, 0);
font-size: 30px;
}

.a-navbar{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 800;

}

.movie {
    background: #d810b7;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  }

  .movie-a {
    background: rgba(107, 168, 187, 0.75);;
    padding: 10px;
    border-radius: 10px;
    width: 140px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 10px 10px 5px 0px rgba(107, 168, 187, 0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  }

  .movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    

  }
.arah{
    height: 100px;
    width: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.text{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;
}

.arah-a{
    height: 100px;
    width: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.container-footer{
    height: 40 px;
    background-color: rgb(252, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}

.h1-footer{

    font-size: 40px;
    color: rgb(8, 8, 8);
}